@font-face {
  font-family: "TravelNovember";
  src: url("TravelNovember-axmzg.ttf") format("truetype");
}
.main {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: #263238; /* Blue Grey 900 */
  color: #b0bec5; /* Blue Grey 200 */
  padding-top: 60px; /* Add padding to the top */
}

.splash-image {
  background-image: url("img2.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "TravelNovember", sans-serif;
  font-size: 80px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.splash-image span p {
    margin-top: -90%;
}

.menu {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 1;
}

.menu a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 50px;
  font-family: "TravelNovember", sans-serif;
}

.instructions {
  color: #b0bec5; /* Blue Grey 200 */
  font-family: "Roboto", sans-serif;
  text-align: center;
}

h1 {
  color: #cfd8dc; /* Blue Grey 100 */
  font-family: "TravelNovember", sans-serif;
  text-align: center;
  font-size: 70px;
}

iframe {
  display: block;
  margin: 0 auto;
  border: 0;
}

.circle-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px;
}
